.borda {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    margin-left: -600px;
    margin-top: 50px;
    z-index: -1;

    @include responsive(1220px) {
        max-width: 1000px;
        top: 0;
        left: 0;
        margin: 0;
        margin-left: 5px;
    }

    @include responsive(965px) {
        max-width: 800px;
    }

    @include responsive(790px) {
        max-width: 600px;
    }
}