.info-personagem {
    .container {
        padding-top: 200px;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
                width: 33%;
                border: 1px solid;
                padding: 10px;

                label {
                    font-size: 1.5rem;
                }

                input {
                    margin-left: 5px;
                    flex-grow: 1;
                    background: none;
                    border-bottom: 1px solid #000;
                    padding-left: 5px;
                    font-family: 'Lexend Peta', sans-serif;
                }
            }
        }

        @include responsive(1200px) {
            input {
                font-size: 1rem;
            }
        }
    }
}

.atributos {
    .container {

        p {
            margin: 5px 0;
            width: 99%;
            text-align: center;
            font-size: 19px;
            padding-bottom: 5px;
            border-bottom: 2px solid;
        }

        .pontos {
            display: flex;
            justify-content: space-around;

            p {
                border: none;
            }

            .valores {
                width: 32%;

                .desc {
                    border-left: 1px solid;
                    display: flex;
                    justify-content: space-between;
                    padding: 2.5px 45px;

                    span {
                        width: 50%;
                        font-size: 1.6rem;
                        text-align: center;
                    }

                }

                .sem-borda {
                    border-left: none;
                }

            }
        }

        .corpo-e-mente {
            display: flex;
            margin-top: 15px;
            justify-content: center;

            .vitalidade,
            .vontade {
                display: flex;
                flex-direction: column;
                align-items: center;

                strong {
                    font-size: 26px;
                }
            }

            .pontos-de-vitalidade {
                display: flex;
            }

            .pontos-de-vontade {
                display: flex;
                margin-left: 20px;
            }

            .ponto {
                cursor: pointer;
                max-width: 30px;

                &:not(:first-child) {
                    margin-left: 2px;
                }

            }
        }
    }
}

.habilidades {
    .container {

        p {
            margin: 5px 0;
            width: 99%;
            text-align: center;
            font-size: 19px;
            padding-bottom: 5px;
            border-bottom: 2px solid;
        }

        .pontos {
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
            flex-wrap: wrap;



            p {
                border: none;
            }

            .desc {
                &:nth-child(2) {
                    input {
                        width: 13px;
                    }
                }

                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                width: 32%;

                input {
                    border-bottom: 1px dotted;
                    flex-grow: 1;
                    padding-left: 5px;
                    font-family: 'Lexend Peta', sans-serif;
                    font-size: 1rem;
                }

                span {
                    font-size: 1.6rem;
                    text-align: center;
                }

            }
        }

        @include responsive(1220px) {
            .pontos {
                .desc {

                    max-width: 33%;

                    span {
                        white-space: nowrap;
                    }

                    input {
                        font-size: 0.7rem;
                    }

                    .qnt-pontos {
                        display: flex;
                    }
                }
            }
        }

        @include responsive(965px) {
            .pontos {
                .desc {


                    span {
                        font-size: 1.3rem;
                    }

                    input {
                        font-size: 0.6rem;
                    }

                    .qnt-pontos {
                        display: flex;
                    }
                }
            }
        }
    }


}

.disciplinas {
    p {
        margin: 5px 0;
        width: 99%;
        text-align: center;
        font-size: 19px;
        padding-bottom: 5px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        input {
            border-bottom: 1px solid;
        }

        .disciplina {
            width: 33%;
            display: flex;
            flex-direction: column;
            border-top: 1px solid;
            border-right: 1px solid;



            input[type="text"] {
                height: 30px;
                padding: 1rem;
                font-size: 15px;
                font-family: 'Lexend Peta', sans-serif;
            }

            &:first-child {
                border-left: 1px solid;
            }

            &:nth-child(4) {
                border-left: 1px solid;
            }

            &:nth-child(-n+6) {
                border-top: none;
            }

            &:nth-child(-n+3) {
                border-top: 1px solid;
            }



            .nome {
                display: flex;

                input {
                    flex-grow: 1;
                }

                input[type="text"] {
                    padding: 1rem;
                    font-weight: 700;
                    font-size: 15px;
                    font-family: 'Lexend Peta', sans-serif;
                }

                .qtd-pontos {
                    display: flex;
                    align-items: center;
                    width: 85px;
                    border-bottom: 1px solid;
                }
            }

        }


    }
}

.stats {
    .container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        strong {
            font-size: 1.6rem;
            font-weight: 700;
        }

        .ressonancia {


            input {
                border-bottom: 1px dotted;
                flex-grow: 1;
                padding-left: 5px;
                font-family: 'Lexend Peta', sans-serif;
                font-size: 1.2rem;
                font-weight: 600;
            }

        }

        .fome {
            justify-content: center;
        }

        .fome,
        .humanidade {
            display: flex;
            width: 30rem;
            gap: 3px;

            .pontos {
                display: flex;
                gap: 3px;

                .ponto {
                    width: 2rem;
                }
            }
        }

    }
}

.vantagens-defeitos-potencia-xp {
    .container {
        display: flex;
        margin-top: 2rem;
        gap: 2px;

        .vantagens,
        .defeitos {
            strong {
                font-size: 1.6rem;
                font-weight: 700;
            }

            .vantagem {
                &:not(:nth-child(2)) {
                    border-top: none;
                }

                border: 1px solid;
                display: flex;
                justify-content: space-around;

                input {
                    flex-grow: 1;
                    height: 30px;
                    padding: 1rem;
                    font-size: 15px;
                    font-family: "Lexend Peta", sans-serif;
                }

                .qtd-pontos {
                    margin-right: 2px;
                    width: 8rem;
                }
            }
        }

        .potencia-xp {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;

            .potencia {
                display: flex;
                justify-content: center;
                gap: 1rem;

                span {
                    font-size: 1.6rem;
                    font-weight: 700;
                }

            }

            table {
                margin-top: 1rem;
                border-collapse: collapse;

                td {
                    width: 18.5rem;
                    height: 5rem;
                    border: 1px solid;

                    span {
                        display: block;
                        font-size: 1.3rem;
                    }

                    input {
                        height: 30px;
                        font-size: 30px;
                        font-family: "Lexend Peta", sans-serif;
                        width: 18rem;
                    }


                }
            }

            .xp {
                margin-top: 2rem;

                span {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                input {
                    flex-grow: 1;
                    height: 30px;
                    padding: 1rem;
                    font-size: 15px;
                    font-family: "Lexend Peta", sans-serif;
                    border-bottom: 1px solid;
                }
            }
        }
    }
}