.content {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    margin-left: -600px;
    margin-top: 18rem;

    @include responsive(1220px) {
        height: 130rem;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: 110px;
        max-width: 100rem;

    }

    @include responsive(965px) {
        max-width: 800px;
        height: 1010px;
    }

    @include responsive(790px) {
        max-width: 600px;
        height: 785px;
        margin-top: 70px;
    }
}

.info-personagem {
    .container {


        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
                width: 33%;
                border: 1px solid;
                padding: 10px;

                label {
                    font-size: 1.5rem;
                }

                input {
                    width: 70%;
                    margin-left: 5px;
                    flex-grow: 1;
                    background: none;
                    border-bottom: 1px solid #000;
                    padding-left: 5px;
                    font-family: 'Lexend Peta', sans-serif;
                }
            }
        }

        @include responsive(1200px) {
            ul {
                li {

                    label,
                    input {
                        font-size: 1.3rem;
                    }
                }
            }

        }

        @include responsive(965px) {
            ul {
                li {

                    label,
                    input {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        @include responsive(790px) {
            ul {
                li {

                    label,
                    input {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.atributos {
    .container {

        p {
            margin: 5px 0;
            width: 99%;
            text-align: center;
            font-size: 19px;
            padding-bottom: 5px;
            border-bottom: 2px solid;
        }

        .pontos {
            display: flex;
            justify-content: space-around;

            p {
                border: none;
            }

            .valores {
                width: 32%;

                .desc {
                    border-left: 1px solid;
                    display: flex;
                    justify-content: space-between;
                    padding: 2.5px 45px;

                    span {
                        width: 50%;
                        font-size: 1.6rem;
                        text-align: center;
                    }

                }

                .sem-borda {
                    border-left: none;
                }

            }
        }

        .corpo-e-mente {
            display: flex;
            margin-top: 15px;
            justify-content: center;

            .vitalidade,
            .vontade {
                display: flex;
                flex-direction: column;
                align-items: center;

                strong {
                    font-size: 26px;
                }
            }

            .pontos-de-vitalidade {
                display: flex;
            }

            .pontos-de-vontade {
                display: flex;
                margin-left: 20px;
            }

            .ponto {
                cursor: pointer;
                max-width: 30px;

                &:not(:first-child) {
                    margin-left: 2px;
                }

            }
        }

        @include responsive(965px) {
            .pontos {
                .valores {
                    .desc {
                        padding: 0;
                    }
                }
            }
        }

        @include responsive(600px) {
            .pontos {
                .valores {
                    .desc {
                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.habilidades {
    .container {

        p {
            margin: 5px 0;
            width: 99%;
            text-align: center;
            font-size: 19px;
            padding-bottom: 5px;
            border-bottom: 2px solid;
        }

        .pontos {
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;

            p {
                border: none;
            }

            .section {
                width: 33%;

                .desc {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2rem;

                    input {
                        border-bottom: 1px dotted;
                        flex-grow: 1;
                        padding-left: 5px;
                        font-family: 'Lexend Peta', sans-serif;
                        font-size: 1rem;
                        overflow-x: hidden;
                    }

                    span {
                        font-size: 1.6rem;
                        white-space: nowrap;
                    }

                    .qnt-pontos {
                        display: flex;
                        gap: 2px;
                    }
                }
            }

        }

        @include responsive(790px) {
            .pontos {
                .section {
                    .desc {
                        span {
                            font-size: 1.2rem;
                        }

                        input {
                            font-size: 0.8rem;
                        }

                        input[type="radio"] {
                            width: 1rem;
                        }

                        .qnt-pontos {
                            display: flex;
                            gap: 1px;
                        }
                    }
                }
            }

        }
    }


}

.disciplinas {
    p {
        margin: 5px 0;
        width: 99%;
        text-align: center;
        font-size: 19px;
        padding-bottom: 5px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        input {
            border-bottom: 1px solid;
        }

        .disciplina {
            width: 33%;
            display: flex;
            flex-direction: column;
            border-top: 1px solid;
            border-right: 1px solid;



            input[type="text"] {
                height: 30px;
                padding: 1rem;
                font-size: 15px;
                font-family: 'Lexend Peta', sans-serif;
                overflow-x: hidden;
            }

            &:first-child {
                border-left: 1px solid;
            }

            &:nth-child(4) {
                border-left: 1px solid;
            }

            &:nth-child(-n+6) {
                border-top: none;
            }

            &:nth-child(-n+3) {
                border-top: 1px solid;
            }



            .nome {
                display: flex;

                input {
                    flex-grow: 1;
                }

                input[type="text"] {
                    padding: 1rem;
                    font-weight: 700;
                    font-size: 15px;
                    font-family: 'Lexend Peta', sans-serif;
                }

                .qtd-pontos {
                    display: flex;
                    align-items: center;
                    width: 85px;
                    border-bottom: 1px solid;
                }
            }

        }

        @include responsive(790px) {
            .disciplina {
                input[type="text"] {
                    font-size: 1rem;
                    padding: .5rem;
                }

                .nome {
                    input[type="text"] {
                        font-size: .8rem;
                        padding: .5rem;
                    }

                    .qtd-pontos {
                        width: auto;

                        input[type="radio"] {
                            width: 1rem;

                        }
                    }
                }
            }

        }
    }
}

.stats {
    .container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        strong {
            font-size: 1.6rem;
            font-weight: 700;
        }

        .ressonancia {
            white-space: nowrap;

            input {
                border-bottom: 1px dotted;
                flex-grow: 1;
                padding-left: 5px;
                font-family: 'Lexend Peta', sans-serif;
                font-size: 1.2rem;
                font-weight: 600;
                overflow-x: hidden;

            }

        }

        .fome {
            justify-content: center;
        }

        .fome,
        .humanidade {
            display: flex;
            width: 30rem;
            gap: 3px;

            .pontos {
                display: flex;
                gap: 3px;

                .ponto {
                    width: 2rem;
                }
            }
        }

        @include responsive(1000px) {
            justify-content: center;
        }

        @include responsive(965px) {

            input {
                max-width: 180px;
            }

            .humanidade,
            .fome {
                .pontos {
                    .ponto {
                        width: 1.5rem;
                    }
                }
            }

        }

        @include responsive(790px) {
            strong {
                font-size: 1rem;
            }

            .humanidade,
            .fome {
                .pontos {
                    .ponto {
                        width: 1rem;
                    }
                }
            }
        }
    }
}

.vantagens-defeitos-potencia-xp {
    .container {
        display: flex;
        margin-top: 2rem;
        gap: 2px;

        .vantagens,
        .defeitos {
            width: 33%;

            strong {
                font-size: 1.6rem;
                font-weight: 700;
            }

            .vantagem {
                &:not(:nth-child(2)) {
                    border-top: none;
                }

                border: 1px solid;
                display: flex;
                justify-content: space-around;

                input {
                    flex-grow: 1;
                    height: 30px;
                    padding: 1rem;
                    font-size: 15px;
                    font-family: "Lexend Peta", sans-serif;
                    overflow-x: hidden;
                }

                .qtd-pontos {
                    margin-right: 2px;
                    width: 8rem;
                    white-space: nowrap;
                }
            }
        }

        .potencia-xp {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;

            .potencia {
                display: flex;
                justify-content: center;
                gap: 1rem;

                span {
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                .qtd-pontos {
                    margin-right: 2px;
                    width: 8rem;
                    white-space: nowrap;
                }
            }

            table {
                margin-top: 1rem;
                border-collapse: collapse;

                td {
                    width: 18.5rem;
                    height: 5rem;
                    border: 1px solid;

                    span {
                        display: block;
                        font-size: 1.3rem;
                    }

                    input {
                        height: 30px;
                        font-size: 30px;
                        font-family: "Lexend Peta", sans-serif;
                        width: 18rem;
                    }


                }
            }

            .xp {
                margin-top: 2rem;

                span {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                input {
                    flex-grow: 1;
                    height: 30px;
                    padding: 1rem;
                    font-size: 15px;
                    font-family: "Lexend Peta", sans-serif;
                    border-bottom: 1px solid;
                }
            }
        }

        @include responsive(1220px) {
            .potencia-xp {
                .potencia {
                    width: 100%;
                    justify-content: flex-start;
                }

                table {
                    td {
                        input {
                            width: 12rem;
                        }
                    }
                }

            }
        }

        @include responsive(965px) {
            .potencia-xp {
                margin-left: 0;

                .potencia {
                    .qtd-pontos {
                        input {
                            width: 1rem;
                        }
                    }
                }

                .xp {
                    input {
                        width: 18rem;
                    }
                }

                table {
                    td {
                        input {
                            width: 12rem;
                        }
                    }
                }

            }
        }

        @include responsive(790px) {

            .vantagens,
            .defeitos {
                width: 30%;

                .vantagem {
                    input[type="text"] {
                        font-size: .7rem;
                        padding: .5rem;
                    }

                    .qtd-pontos {
                        width: auto;

                        input[type="radio"] {
                            width: 1rem;
                        }
                    }
                }
            }

            .potencia-xp {
                .potencia {
                    .qtd-pontos {
                        input {
                            width: 1rem;
                        }
                    }
                }

                .xp {
                    input {
                        width: 10rem;
                    }
                }

                table {
                    td {
                        input {
                            width: 8rem;
                        }
                    }
                }

            }
        }
    }
}